@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; /* if you want the light version */
  color: rgba(50, 50, 50, 0.5);
}

h1, h2 {
  font-weight: 700; /* if you want the light version */
  color: rgba(50, 50, 50, 0.75);
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  text-decoration: none;
}

.container {
  width: 700px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.img-circle {
  border-radius: 50%;
}

.img-profile {
  width: 100px;
  height: 100px;
}

.text-center {
  text-align: center;
}

.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline i {
  font-size: 50px;
  color: rgb(230, 230, 230);
}

.list-inline i:hover {
  color: rgb(200, 200, 200);
}

.btn-dark {
  background-color:rgba(50, 50, 50, 0.75);
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 32px 8px 32px;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
  .img-profile {
    width: 80px;
    height: 80px;
  }
  .list-inline i {
    font-size: 32px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
  .img-profile {
    width: 60px;
    height: 60px;
  }
  .list-inline i {
    font-size: 32px;
  }
}
